.encriptador {
  background-color: #f3f5fc;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.encriptador .div {
  background-color: var(--light-bluelight-blue-100);
  width: 100%;
  height: 530px;
  position: absolute;
}


.encriptador .text-wrapper {
  position: relative;
  width: 600px;
  top: 90px;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: var(--dark-bluedark-blue-300);
  font-size: 23px;
  letter-spacing: 0;
  left: 150px;
  line-height: 25px;
  height: auto;
}

.encriptador .text-wrapper textarea {
  max-height: 200px;
  /* Por ejemplo, ajusta este valor según tus necesidades */
  overflow-y: auto;
}


.encriptador .frame {
  display: flex;
  width: 680px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 450px;
  left: 150px;
}

.encriptador .button-2 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  display: flex;
  padding: 12px;
  width: 250px;
  justify-content: center;
  font-family: "Inter", Helvetica;
  color: var(--white);
  font-size: 14px;
  text-align: center;
  line-height: normal;
  background-color: var(--dark-bluedark-blue-300);
  border-radius: 15px;
  cursor: pointer;
}

.button-2:hover {
  background-color: var(--dark-bluedark-blue-500);
}


.encriptador .button-3 {
  all: unset;
  box-sizing: border-box;
  position: relative;
  display: flex;
  padding: 12px;
  width: 250px;
  justify-content: center;
  font-family: "Inter", Helvetica;
  color: var(--dark-bluedark-blue-300);
  font-size: 14px;
  line-height: normal;
  border-radius: 15px;
  background-color: var(--light-bluelight-blue-300);
  border: 1px solid;
  cursor: pointer;
}

.button-3:hover {
  background-color: var(--white);
}

.encriptador .button {
  position: absolute;
  top: 300px;
  right: 15px;
  box-sizing: border-box;
  display: flex;
  padding: 12px;
  width: 250px;
  justify-content: center;
  font-family: "Inter", Helvetica;
  color: var(--dark-bluedark-blue-300);
  font-size: 14px;
  text-align: center;
  line-height: normal;
  border-radius: 15px;
  background-color: var(--white);
  border: 1px solid;
  cursor: pointer;
}

.button:hover {
  background-color: var(--light-bluelight-blue-300);
}

.encriptador .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 425px;
  left: 150px;
}

.encriptador .bi-exclamation {
  position: relative;
  width: 16px;
  height: 16px;
}

.encriptador .frame-2 .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.8;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--graygray-400);
  font-size: 9px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.encriptador .frame-3 {
  position: absolute;
  right: 50px;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 380px;
  align-items: flex-start;
  gap: 10px;
  top: 110px;
  background-color: var(--light-bluelight-blue-100);
  border-radius: 32px;
  box-shadow: var(--shadow);
}


.encriptador .muñeco {
  width: 100%;
}


.encriptador .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--graygray-500);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28.8px;
}

.encriptador .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--graygray-400);
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.encriptador .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  padding: 25px;
  color: var(--shadow);
  font-size: 15px;
  text-align: left;
  letter-spacing: 0;
  line-height: 25px;
}

.encriptador .logo {
  position: absolute;
  width: 80px;
  height: 30px;
  top: 30px;
  left: 30px;
}

.encriptador .overlap-group {
  display: none;
  position: absolute;
  width: 280px;
  height: 400px;
  top: 90px;
  right: 50px;
  background-color: var(--white);
  border-radius: 32px;
  box-shadow: var(--shadow);
}

.encriptador .text-wrapper-4 {
  max-height: 260px;
  overflow-y: auto;
  position: absolute;
  top: 15px;
  right: 10px;
}

.encriptador .text-wrapper-4::-webkit-scrollbar {
  width: 8px;
}

.encriptador .text-wrapper-4::-webkit-scrollbar-track {
  background-color: var(--white);
}

.encriptador .text-wrapper-4::-webkit-scrollbar-thumb {
  background-color: var(--dark-bluedark-blue-300);
  border-radius: 4px;
}

.encriptador .text-wrapper-4::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-bluedark-blue-500);
}


.encriptador #inputText::-webkit-scrollbar {
  width: 8px;
}

.encriptador #inputText::-webkit-scrollbar-track {
  background-color: var(--white)
}

.encriptador #inputText::-webkit-scrollbar-thumb {
  background-color: var(--dark-bluedark-blue-300);
  border-radius: 4px;
}

.encriptador #inputText::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-bluedark-blue-500);

}



.reset-button {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  padding: 12px;
  width: 250px;
  top: 370px;
  right: 15px;
  justify-content: center;
  font-family: "Inter", Helvetica;
  transform: translateY(-50%);
  background-color: var(--dark-bluedark-blue-300);
  border-radius: 15px;
  color: white;
  border: none;
  font-size: 14px;
  text-align: center;
  line-height: normal;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid;
}

.reset-button:hover {
  background-color: var(--dark-bluedark-blue-500);
}